<?xml version='1.0' encoding='utf-8'?>
<robot name="sbt">
  <mujoco>
    <compiler meshdir="./meshes" balanceinertia="true" discardvisual="false" />
  </mujoco>
  <link name="base_link">
    <inertial>
      <origin xyz="-0.1093135 -1.4179E-07 -0.041448" rpy="0 0 0" />
      <mass value="7.4135" />
      <inertia ixx="0.028711" ixy="2.4853E-08" ixz="-0.0011713" iyy="0.014902" iyz="2.6749E-09" izz="0.026823" />
    </inertial>
    <visual>
      <origin xyz="-0.0080635 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="./meshes/base_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.69804 0.69804 0.69804 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="-0.0080635 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="./meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link name="left_hip_roll">
    <inertial>
      <origin xyz="0.10837 -2.3489E-06 -0.020356" rpy="0 0 0" />
      <mass value="2.1827" />
      <inertia ixx="0.0028761" ixy="4.6498E-10" ixz="0.00014689" iyy="0.0032228" iyz="-3.1042E-09" izz="0.0034399" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="./meshes/left_hip_roll.STL" />
      </geometry>
      <material name="">
        <color rgba="0.69804 0.69804 0.69804 1" />
      </material>
    </visual>
  </link>
  <joint name="left_hip_roll_joint" type="revolute">
    <origin xyz="-0.1245035 0.1225 -0.04795" rpy="0 0 0" />
    <parent link="base_link" />
    <child link="left_hip_roll" />
    <axis xyz="1 0 0" />
    <limit lower="-0.17" upper="0.44" effort="267" velocity="13.92" />
  </joint>
  <link name="left_hip_yaw">
    <inertial>
      <origin xyz="-0.00016271 -0.0040921 -0.1177" rpy="0 0 0" />
      <mass value="3.3125" />
      <inertia ixx="0.0053166" ixy="-1.9892E-09" ixz="-4.9223E-06" iyy="0.0062614" iyz="-0.00018436" izz="0.0051934" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="./meshes/left_hip_yaw.STL" />
      </geometry>
      <material name="">
        <color rgba="0.69804 0.69804 0.69804 1" />
      </material>
    </visual>
  </link>
  <joint name="left_hip_yaw_joint" type="revolute">
    <origin xyz="0.1155 0 -0.0182" rpy="0 0 0" />
    <parent link="left_hip_roll" />
    <child link="left_hip_yaw" />
    <axis xyz="0 0 1" />
    <limit lower="-0.7" upper="0.7" effort="121" velocity="7.17" />
  </joint>
  <link name="left_hip_pitch">
    <inertial>
      <origin xyz="0.0025393 0.0034884 -0.15511" rpy="0 0 0" />
      <mass value="5.7187" />
      <inertia ixx="0.032618" ixy="3.4025E-05" ixz="0.00057827" iyy="0.03304" iyz="-0.002044" izz="0.0097265" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="./meshes/left_hip_pitch.STL" />
      </geometry>
      <material name="">
        <color rgba="0.69804 0.69804 0.69804 1" />
      </material>
    </visual>
  </link>
  <joint name="left_hip_pitch_joint" type="revolute">
    <origin xyz="0 -0.0015 -0.125" rpy="0 0 0" />
    <parent link="left_hip_yaw" />
    <child link="left_hip_pitch" />
    <axis xyz="0 1 0" />
    <limit lower="-1.34" upper="1.83" effort="267" velocity="13.92" />
  </joint>
  <link name="left_knee">
    <inertial>
      <origin xyz="-0.017852 -6.7212E-06 -0.15577" rpy="0 0 0" />
      <mass value="3.6902" />
      <inertia ixx="0.022044" ixy="-9.3601E-06" ixz="7.1509E-05" iyy="0.022729" iyz="7.66E-05" izz="0.002391" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="./meshes/left_knee.STL" />
      </geometry>
      <material name="">
        <color rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
  </link>
  <joint name="left_knee_joint" type="revolute">
    <origin xyz="0 -0.034937 -0.4" rpy="0 0 0" />
    <parent link="left_hip_pitch" />
    <child link="left_knee" />
    <axis xyz="0 -1 0" />
    <limit lower="-2.09" upper="0.09" effort="267" velocity="13.92" />
  </joint>
  <link name="left_ankle_pitch">
    <inertial>
      <origin xyz="1.6609E-09 3.2596E-09 -6.0503E-09" rpy="0 0 0" />
      <mass value="0.09865" />
      <inertia ixx="2.4782E-05" ixy="-9.3355E-12" ixz="-8.3612E-13" iyy="6.0596E-06" iyz="-1.4509E-12" izz="2.4168E-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="./meshes/left_ankle_pitch.STL" />
      </geometry>
      <material name="">
        <color rgba="0.69804 0.69804 0.69804 1" />
      </material>
    </visual>
  </link>
  <joint name="left_ankle_pitch_joint" type="revolute">
    <origin xyz="0 0.00043724 -0.387" rpy="0 0 0" />
    <parent link="left_knee" />
    <child link="left_ankle_pitch" />
    <axis xyz="0 -1 0" />
    <limit lower="-0.52" upper="1.05" effort="42" velocity="6.7" />
  </joint>
  <link name="left_ankle_roll">
    <inertial>
      <origin xyz="0.039669 -5.3886E-08 -0.036778" rpy="0 0 0" />
      <mass value="0.60538" />
      <inertia ixx="0.00034025" ixy="-1.4526E-09" ixz="0.00017653" iyy="0.0025604" iyz="-8.608E-10" izz="0.0026384" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="./meshes/left_ankle_roll.STL" />
      </geometry>
      <material name="">
        <color rgba="0.69804 0.69804 0.69804 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0.046 0 -0.042" rpy="0 0 0" />
      <geometry>
        <box size="0.225 0.08 0.025" />
      </geometry>
    </collision>
  </link>
  <joint name="left_ankle_roll_joint" type="revolute">
    <origin xyz="0 0 0" rpy="0 0 0" />
    <parent link="left_ankle_pitch" />
    <child link="left_ankle_roll" />
    <axis xyz="-1 0 0" />
    <limit lower="-0.44" upper="0.44" effort="42" velocity="6.7" />
  </joint>
  <link name="right_hip_roll">
    <inertial>
      <origin xyz="0.10837 -2.3489E-06 -0.020356" rpy="0 0 0" />
      <mass value="2.1827" />
      <inertia ixx="0.0028761" ixy="4.6498E-10" ixz="0.00014689" iyy="0.0032228" iyz="-3.1042E-09" izz="0.0034399" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="./meshes/right_hip_roll.STL" />
      </geometry>
      <material name="">
        <color rgba="0.69804 0.69804 0.69804 1" />
      </material>
    </visual>
  </link>
  <joint name="right_hip_roll_joint" type="revolute">
    <origin xyz="-0.1245035 -0.1225 -0.04795" rpy="0 0 0" />
    <parent link="base_link" />
    <child link="right_hip_roll" />
    <axis xyz="1 0 0" />
    <limit lower="-0.44" upper="0.17" effort="267" velocity="13.92" />
  </joint>
  <link name="right_hip_yaw">
    <inertial>
      <origin xyz="-0.00016274 0.0040921 -0.1177" rpy="0 0 0" />
      <mass value="3.3125" />
      <inertia ixx="0.0053166" ixy="-1.9892E-09" ixz="-4.9218E-06" iyy="0.0062614" iyz="0.00018436" izz="0.0051934" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="./meshes/right_hip_yaw.STL" />
      </geometry>
      <material name="">
        <color rgba="0.69804 0.69804 0.69804 1" />
      </material>
    </visual>
  </link>
  <joint name="right_hip_yaw_joint" type="revolute">
    <origin xyz="0.1155 0 -0.0182" rpy="0 0 0" />
    <parent link="right_hip_roll" />
    <child link="right_hip_yaw" />
    <axis xyz="0 0 1" />
    <limit lower="-0.7" upper="0.7" effort="121" velocity="7.17" />
  </joint>
  <link name="right_hip_pitch">
    <inertial>
      <origin xyz="0.0025393 -0.0034884 -0.15511" rpy="0 0 0" />
      <mass value="5.7187" />
      <inertia ixx="0.032618" ixy="-3.42E-05" ixz="0.00057863" iyy="0.03304" iyz="0.002044" izz="0.0097267" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="./meshes/right_hip_pitch.STL" />
      </geometry>
      <material name="">
        <color rgba="0.69804 0.69804 0.69804 1" />
      </material>
    </visual>
  </link>
  <joint name="right_hip_pitch_joint" type="revolute">
    <origin xyz="0 0.0015 -0.125" rpy="0 0 0" />
    <parent link="right_hip_yaw" />
    <child link="right_hip_pitch" />
    <axis xyz="0 1 0" />
    <limit lower="-1.34" upper="1.83" effort="267" velocity="13.92" />
  </joint>
  <link name="right_knee">
    <inertial>
      <origin xyz="-0.017852 6.7212E-06 -0.15577" rpy="0 0 0" />
      <mass value="3.6902" />
      <inertia ixx="0.022044" ixy="9.4018E-06" ixz="7.1633E-05" iyy="0.022729" iyz="-7.6587E-05" izz="0.002391" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="./meshes/right_knee.STL" />
      </geometry>
      <material name="">
        <color rgba="0.69804 0.69804 0.69804 1" />
      </material>
    </visual>
  </link>
  <joint name="right_knee_joint" type="revolute">
    <origin xyz="0 0.034937 -0.4" rpy="0 0 0" />
    <parent link="right_hip_pitch" />
    <child link="right_knee" />
    <axis xyz="0 -1 0" />
    <limit lower="-2.09" upper="0.09" effort="267" velocity="13.92" />
  </joint>
  <link name="right_ankle_pitch">
    <inertial>
      <origin xyz="1.6609E-09 3.2596E-09 -6.0503E-09" rpy="0 0 0" />
      <mass value="0.09865" />
      <inertia ixx="2.4782E-05" ixy="-9.3355E-12" ixz="-8.3611E-13" iyy="6.0596E-06" iyz="-1.4509E-12" izz="2.4168E-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="./meshes/right_ankle_pitch.STL" />
      </geometry>
      <material name="">
        <color rgba="0.69804 0.69804 0.69804 1" />
      </material>
    </visual>
  </link>
  <joint name="right_ankle_pitch_joint" type="revolute">
    <origin xyz="0 -0.00043724 -0.387" rpy="0 0 0" />
    <parent link="right_knee" />
    <child link="right_ankle_pitch" />
    <axis xyz="0 -1 0" />
    <limit lower="-0.52" upper="1.05" effort="42" velocity="6.7" />
  </joint>
  <link name="right_ankle_roll">
    <inertial>
      <origin xyz="0.039669 -5.3901E-08 -0.036778" rpy="0 0 0" />
      <mass value="0.60538" />
      <inertia ixx="0.00034025" ixy="-1.4509E-09" ixz="0.00017653" iyy="0.0025604" iyz="-8.6104E-10" izz="0.0026384" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="./meshes/right_ankle_roll.STL" />
      </geometry>
      <material name="">
        <color rgba="0.69804 0.69804 0.69804 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0.046 0 -0.042" rpy="0 0 0" />
      <geometry>
        <box size="0.225 0.08 0.025" />
      </geometry>
    </collision>
  </link>
  <joint name="right_ankle_roll_joint" type="revolute">
    <origin xyz="0 0 0" rpy="0 0 0" />
    <parent link="right_ankle_pitch" />
    <child link="right_ankle_roll" />
    <axis xyz="-1 0 0" />
    <limit lower="-0.44" upper="0.44" effort="42" velocity="6.7" />
  </joint>
  <link name="waist_yaw">
    <inertial>
      <origin xyz="0.001283 -7.589E-05 0.20559" rpy="0 0 0" />
      <mass value="10.4394" />
      <inertia ixx="0.032326" ixy="-1.5883E-05" ixz="-8.8259E-07" iyy="0.030447" iyz="-8.047E-07" izz="0.033042" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="./meshes/waist_yaw.STL" />
      </geometry>
      <material name="">
        <color rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="./meshes/waist_yaw.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="waist_yaw_joint" type="fixed">
    <origin xyz="0 0 0.0573" rpy="0 0 0" />
    <parent link="base_link" />
    <child link="waist_yaw" />
  </joint>
  <link name="left_shoulder_pitch">
    <inertial>
      <origin xyz="0.0091062 0.13568 0.00087007" rpy="0 0 0" />
      <mass value="1.4073" />
      <inertia ixx="0.0018568" ixy="-5.7776E-05" ixz="1.9795E-10" iyy="0.0013884" iyz="-8.0408E-10" izz="0.0017462" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="./meshes/left_shoulder_pitch.STL" />
      </geometry>
      <material name="">
        <color rgba="0.69804 0.69804 0.69804 1" />
      </material>
    </visual>
  </link>
  <joint name="left_shoulder_pitch_joint" type="fixed">
    <origin xyz="0 0.098693 0.42818" rpy="0 0 0" />
    <parent link="base_link" />
    <child link="left_shoulder_pitch" />
  </joint>
  <link name="left_shoulder_roll">
    <inertial>
      <origin xyz="-0.044206 0.091886 2.9541E-07" rpy="0 0 0" />
      <mass value="1.0231" />
      <inertia ixx="0.001273" ixy="0.00014968" ixz="-9.7343E-09" iyy="0.00072079" iyz="1.24E-08" izz="0.0013318" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="./meshes/left_shoulder_roll.STL" />
      </geometry>
      <material name="">
        <color rgba="0.69804 0.69804 0.69804 1" />
      </material>
    </visual>
  </link>
  <joint name="left_shoulder_roll_joint" type="fixed">
    <origin xyz="0.0444 0.14081 0.00087012" rpy="-1.5807 0 0" />
    <parent link="left_shoulder_pitch" />
    <child link="left_shoulder_roll" />
  </joint>
  <link name="left_shoulder_yaw">
    <inertial>
      <origin xyz="-0.00062283 0.18132 0.008027" rpy="0 0 0" />
      <mass value="1.222" />
      <inertia ixx="0.0025394" ixy="-2.4639E-05" ixz="-4.375E-06" iyy="0.0010216" iyz="-0.00011054" izz="0.0025368" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="./meshes/left_shoulder_yaw.STL" />
      </geometry>
      <material name="">
        <color rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
  </link>
  <joint name="left_shoulder_yaw_joint" type="fixed">
    <origin xyz="-0.0444 0.103 0" rpy="0 0 0" />
    <parent link="left_shoulder_roll" />
    <child link="left_shoulder_yaw" />
  </joint>
  <link name="left_elbow">
    <inertial>
      <origin xyz="-4.9236E-08 0.080341 -0.013515" rpy="0 0 0" />
      <mass value="0.73325" />
      <inertia ixx="0.00086196" ixy="-8.6493E-10" ixz="3.6555E-09" iyy="0.00041879" iyz="0.00010899" izz="0.00080645" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="./meshes/left_elbow.STL" />
      </geometry>
      <material name="">
        <color rgba="0.69804 0.69804 0.69804 1" />
      </material>
    </visual>
  </link>
  <joint name="left_elbow_joint" type="fixed">
    <origin xyz="0 0.197 0.0135" rpy="0 0 0" />
    <parent link="left_shoulder_yaw" />
    <child link="left_elbow" />
  </joint>
  <link name="left_wrist_roll">
    <inertial>
      <origin xyz="0.0029058 0.16387 -1.135E-05" rpy="0 0 0" />
      <mass value="0.63743" />
      <inertia ixx="0.0011202" ixy="-5.9547E-05" ixz="-3.7396E-08" iyy="0.00034519" iyz="-7.9913E-08" izz="0.0011544" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="./meshes/left_wrist_roll.STL" />
      </geometry>
      <material name="">
        <color rgba="0.69804 0.69804 0.69804 1" />
      </material>
    </visual>
  </link>
  <joint name="left_wrist_roll_joint" type="fixed">
    <origin xyz="0 0.0896 -0.0135" rpy="0 0 0" />
    <parent link="left_elbow" />
    <child link="left_wrist_roll" />
  </joint>
  <link name="right_shoulder_pitch">
    <inertial>
      <origin xyz="0.0091062 -0.13568 0.00087017" rpy="0 0 0" />
      <mass value="1.4073" />
      <inertia ixx="0.0018568" ixy="5.7776E-05" ixz="-1.9795E-10" iyy="0.0013884" iyz="-8.0408E-10" izz="0.0017462" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="./meshes/right_shoulder_pitch.STL" />
      </geometry>
      <material name="">
        <color rgba="0.69804 0.69804 0.69804 1" />
      </material>
    </visual>
  </link>
  <joint name="right_shoulder_pitch_joint" type="fixed">
    <origin xyz="0 -0.098693 0.42818" rpy="0 0 0" />
    <parent link="base_link" />
    <child link="right_shoulder_pitch" />
  </joint>
  <link name="right_shoulder_roll">
    <inertial>
      <origin xyz="-0.044206 -0.091886 -2.9542E-07" rpy="0 0 0" />
      <mass value="1.0231" />
      <inertia ixx="0.001273" ixy="-0.00014968" ixz="9.7343E-09" iyy="0.00072079" iyz="1.2399E-08" izz="0.0013318" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="./meshes/right_shoulder_roll.STL" />
      </geometry>
      <material name="">
        <color rgba="0.69804 0.69804 0.69804 1" />
      </material>
    </visual>
  </link>
  <joint name="right_shoulder_roll_joint" type="fixed">
    <origin xyz="0.0444 -0.14081 0.00087012" rpy="1.5807 0 0" />
    <parent link="right_shoulder_pitch" />
    <child link="right_shoulder_roll" />
  </joint>
  <link name="right_shoulder_yaw">
    <inertial>
      <origin xyz="-0.00062239 -0.18132 0.0080269" rpy="0 0 0" />
      <mass value="1.222" />
      <inertia ixx="0.0025394" ixy="2.4641E-05" ixz="-4.3567E-06" iyy="0.0010216" iyz="0.00011057" izz="0.0025368" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="./meshes/right_shoulder_yaw.STL" />
      </geometry>
      <material name="">
        <color rgba="0.69804 0.69804 0.69804 1" />
      </material>
    </visual>
  </link>
  <joint name="right_shoulder_yaw_joint" type="fixed">
    <origin xyz="-0.0444 -0.103 0" rpy="0 0 0" />
    <parent link="right_shoulder_roll" />
    <child link="right_shoulder_yaw" />
  </joint>
  <link name="right_elbow">
    <inertial>
      <origin xyz="4.9236E-08 -0.080341 -0.013515" rpy="0 0 0" />
      <mass value="0.73325" />
      <inertia ixx="0.00086196" ixy="-8.6493E-10" ixz="-3.6555E-09" iyy="0.00041879" iyz="-0.00010899" izz="0.00080645" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="./meshes/right_elbow.STL" />
      </geometry>
      <material name="">
        <color rgba="0.69804 0.69804 0.69804 1" />
      </material>
    </visual>
  </link>
  <joint name="right_elbow_joint" type="fixed">
    <origin xyz="0 -0.197 0.0135" rpy="0 0 0" />
    <parent link="right_shoulder_yaw" />
    <child link="right_elbow" />
  </joint>
  <link name="right_wrist_roll">
    <inertial>
      <origin xyz="0.0029058 -0.13137 1.135E-05" rpy="0 0 0" />
      <mass value="0.63743" />
      <inertia ixx="0.0011202" ixy="5.9547E-05" ixz="3.7396E-08" iyy="0.00034519" iyz="-7.9913E-08" izz="0.0011544" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="./meshes/right_wrist_roll.STL" />
      </geometry>
      <material name="">
        <color rgba="0.69804 0.69804 0.69804 1" />
      </material>
    </visual>
  </link>
  <joint name="right_wrist_roll_joint" type="fixed">
    <origin xyz="0 -0.1221 -0.0135" rpy="0 0 0" />
    <parent link="right_elbow" />
    <child link="right_wrist_roll" />
  </joint>
  <link name="left_foot_front_link" />
  <joint name="left_foot_front_joint" type="fixed" dont_collapse="true">
    <origin xyz="0.15 0 -0.052" rpy="0 0 0" />
    <parent link="left_ankle_roll" />
    <child link="left_foot_front_link" />
  </joint>
  <link name="left_foot_mid_link" />
  <joint name="left_foot_mid_joint" type="fixed" dont_collapse="true">
    <origin xyz="0.05 -0.0 -0.052" rpy="0 0 0" />
    <parent link="left_ankle_roll" />
    <child link="left_foot_mid_link" />
  </joint>
  <link name="left_foot_hind_link" />
  <joint name="left_foot_hind_joint" type="fixed" dont_collapse="true">
    <origin xyz="-0.06 0 -0.052" rpy="0 0 0" />
    <parent link="left_ankle_roll" />
    <child link="left_foot_hind_link" />
  </joint>
  <link name="right_foot_front_link" />
  <joint name="right_foot_front_joint" type="fixed" dont_collapse="true">
    <origin xyz="0.15 0 -0.052" rpy="0 0 0" />
    <parent link="right_ankle_roll" />
    <child link="right_foot_front_link" />
  </joint>
  <link name="right_foot_mid_link" />
  <joint name="right_foot_mid_joint" type="fixed" dont_collapse="true">
    <origin xyz="0.05 -0.0 -0.052" rpy="0 0 0" />
    <parent link="right_ankle_roll" />
    <child link="right_foot_mid_link" />
  </joint>
  <link name="right_foot_hind_link" />
  <joint name="right_foot_hind_joint" type="fixed" dont_collapse="true">
    <origin xyz="-0.06 0 -0.052" rpy="0 0 0" />
    <parent link="right_ankle_roll" />
    <child link="right_foot_hind_link" />
  </joint>
  <link name="upper_body_link" />
  <joint name="upper_body_joint" type="fixed" dont_collapse="true">
    <origin xyz="0.00 0 0.3" rpy="0 0 0" />
    <parent link="waist_yaw" />
    <child link="upper_body_link" />
  </joint>
</robot>
